@media only screen and (min-width: 300px) {
    .header-image > p {
        width: 50%;
    }
    main > section:first-child > div:first-child > div > h1 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 350px) {
    .header-image > p {
        font-size: 1.5em;
        width: 45%;
    }
    .header-orange p {
        font-size: 1.1em;
    }
    iframe {
        height: 176px;
        width: 313px;
    }
    main > section:nth-child(2) > div:first-child > div:nth-child(2) > ul > li {
        font-size: 1.1em;
    }
    main > section:nth-child(6) > div.orange-border > p {
        font-size: 1.4em;
    }
    main > section:nth-child(7) p {
        font-size: 1.3em;
    }
    main > section:nth-child(8) > div:first-child > div > img {
        max-width: 45%;
    }
    main > section:nth-child(12) > div.orange-border > p {
        font-size: 1.25em;
    }
    main > section:nth-child(14) > div:nth-child(3) > ul {
        margin: 0 auto;
        padding: 0 0.5em;
        width: 75%;
    }
    main > section:nth-child(14) > div:nth-child(3) > ul > li > span {
        width: 80%;
    }
}

@media only screen and (min-width: 400px) {
    .header-image > p {
        font-size: 1.6em;
    }
    main {
        font-size: 1.15em;
    }
    iframe {
        height: 202px;
        width: 359px;
    }
    main > section:nth-child(2) > div:nth-child(2) > div > h3 {
        padding-top: 1em;
    }
    main > section:nth-child(2) > div:nth-child(2) > div > p {
        padding: 1em 0;
        text-align: left;
    }
    main > section:nth-child(2) > div:nth-child(2) > div > img {
        display: block;
    }
    main > section:nth-child(8) > div:first-child {
        display: none;
    }
    main > section:nth-child(8) > div:nth-child(2) {
        display: block;
        font-size: 0.8em;
    }
    main > section:nth-child(8) > div:nth-child(2) > img {
        display: inline-block;
        padding-right: 1em;
        max-width: 35%;
        vertical-align: middle;
    }
    main > section:nth-child(8) > div:nth-child(2) > div {
        display: inline-block;
        width: 65%;
        vertical-align: middle;
    }
    main > section:nth-child(14) > div:nth-child(3) > ul {
        margin: 0 auto;
        padding: 0 0.5em;
        width: 75%;
    }
    main > section:nth-child(15) > div.orange-border > p {
        font-size: 1.1em;
    }
}

@media only screen and (min-width : 500px) {
    .header-image > p {
        font-size: 2em;
    }
    .header-orange p {
        font-size: 1.25em;
    }
    main {
        line-height: 1.3;
    }
    iframe {
        height: 255px;
        width: 453px;
    }
    main > section > div.orange-border > p {
        /* font-size: 1.5em; */
    }
    main > section:nth-child(6) > div.orange-border > p {
        font-size: 1.75em;
    }
    main > section:nth-child(9) > div.orange-border > p {
        font-size: 1.25em;
    }
    main > section:nth-child(12) > div.orange-border > p {
        font-size: 1.65em;
    }
    main > section:nth-child(13) > div:nth-child(2) > div > p {
        font-size: 1.15em;
    }
}

@media only screen and (min-width: 550px) {
    main > section:nth-child(2) > div:first-child > div:first-child {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    main > section:nth-child(2) > div:first-child > div:nth-child(2) {
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        max-width: 310px;
    }
    main > section:nth-child(2) > div:first-child > div:nth-child(2) > ul {
        margin: 0;
        padding: 0.5em 0 0.5em 1em;
    }
    main > section:nth-child(2) > div:first-child > div:nth-child(2) > ul > li {
        margin-bottom: 1em;
    }
}

@media only screen and (min-width : 600px) {
    .header-image > p {
        font-size: 2.5em;
        left: 50%;
    }
    .header-image > p {
        font-size: 2em;
    }
    iframe {
        height: 308px;
        width: 548px;
    }
    img.gif {
        max-width: 550px;
    }
    main > section:nth-child(2) > div:nth-child(2) > div {
        padding: 0 0.25em;
    }
    main > section:nth-child(5) > div:first-child > div:first-child {
        display: inline-block;
        max-width: 50%;
        padding: 0.2em 0.5em 0.2em 0;
    }
    main > section:nth-child(5) > div:first-child > div:nth-child(2) {
        display: inline-block;
        width: 50%;
        padding: 0.2em 0 0.2em 0.5em;
    }
    main > section:nth-child(5) > div:first-child  > div:nth-child(2) > p:first-child {
        margin-bottom: 1em;
    }
    main > section:nth-child(5) > div:nth-child(2) {
        display: none;
    }
    main > section:nth-child(5) > div:nth-child(3) {
        display: block;
    }
    main > section:nth-child(5) > div:nth-child(3)  > img {
        display: inline-block;
        max-width: 50%;
        padding: 0.2em 0 0.2em 0.5em;
    }
    main > section:nth-child(5) > div:nth-child(3) > div {
        display: inline-block;
        width: 50%;
        padding: 0.2em 0.5em 0.2em 0;
    }
    main > section:nth-child(5) > div:nth-child(3) > div > p {
        text-align: right;
    }
    main > section:nth-child(7) > div > div {
        font-size: 1.35em;
        top: 10px;
        left: 10px;
    }
    main > section:nth-child(8) > div:nth-child(2) {
        font-size: 0.9em;
    }
    main > section:nth-child(9) > div.orange-border > p {
        font-size: 1.3em;
    }
    main > section:nth-child(10) > div:nth-child(2) > div {
        padding: 0 0.25em;
    }
}

@media only screen and (min-width : 650px) {
    main > section:first-child > div:first-child > img {
        width: 60%;
    }
    main > section:first-child > div:first-child > div {
        display: inline-block;
        width: 37%;
    }
    main > section:first-child > div:first-child > div > h1 {
        font-size: 1.5em;
    }
    main > section:first-child > div:first-child > div > h1 > span.white {
        display: block;
    }
    iframe {
        height: 335px;
        width: 595px;
    }
    main > section:nth-child(9) > div.orange-border > p,
    main > section:nth-child(15) > div.orange-border > p {
        font-size: 1.35em;
    }
}

@media only screen and (min-width : 700px) {
    main > section:nth-child(10) > div:nth-child(2) > div {
        display: inline-block;
        width: 31%;
        vertical-align: top;
    }
}

@media only screen and (min-width : 780px) {
    .header-image > p {
        font-size: 2.5em;
    }
    main {
        font-size: 1.2em;
    }
    main > section:first-child > div:first-child > div > h1 {
        font-size: 1.75em;
    }
    main > section:nth-child(2) > div:nth-child(2) > div {
        display: inline-block;
        width: 32%;
    }
    main > section:nth-child(2) > div:nth-child(2) > div {
        display: inline-block;
        width: 32%;
    }
    main > section:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > p.hidden {
        display: block;
    }
    main > section:nth-child(2) > div:nth-child(2) > div > div.transperant-space {
        display: none;
    }
    main > section:nth-child(2) > div:nth-child(3) {
        text-align: center;
    }
    main > section:nth-child(2) > div:nth-child(3) > div {
        display: inline-block;
        width: 32%;
    }
}

@media only screen and (min-width : 735px) {
    iframe {
        height: 378px;
        width: 672px;
    }
}

@media only screen and (min-width : 800px) {
    .header-image > p {
        font-size: 2.75em;
    }
    header > .header-image:first-child {
        display: none;
    }
    header > .header-image:nth-child(2) {
        display: block;
    }
    .header-orange p {
        font-size: 1.4em;
    }
    main {
        font-size: 1.25em;
    }
    main > section:nth-child(14) > div:nth-child(3) > ul {
        margin: 1.5em auto;
        width: 65%;
    }
    main > section:nth-child(14) > div:nth-child(3) > ul >li {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    main > section:nth-child(14) > div:nth-child(3) > ul >li > span{
        width: 88%;
    }
    main > section:nth-child(18) img.ebook {
        max-width: 680px;
    }
}

@media only screen and (min-width : 850px) {
    .header-image > p {
        font-size: 3em;
    }
    .header-orange p {
        font-size: 1.6em;
    }
    main {
        font-size: 1.3em;
    }
    main > section:first-child > div:first-child > div > h1 {
        font-size: 1.7em;
    }
    main > section:nth-child(5) > div:first-child > div:first-child, main > section:nth-child(5) > div:nth-child(3) > div {
        padding: 0.2em 1em 0.2em 0;
    }
    main > section:nth-child(5) > div:first-child > div:nth-child(2), main > section:nth-child(5) > div:nth-child(3)  > img {
        padding: 0.2em 0 0.2em 1em;
    }
    main > section:nth-child(17) > div > p.uppercase {
        font-size: 1.75em;
    }
    main > section:nth-child(18) > h2 {
        font-size: 1.5em;
    }
}

@media only screen and (min-width : 1000px) {
    .header-image > p {
        font-size: 3.2em;
    }
    .header-orange p {
        font-size: 1.8em;
    }
    main > section:first-child {
        padding-top: 2.2em;
    }
    main > section:first-child > div:first-child > div > h1 {
        font-size: 2em;
    }
}
